In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
3/2

1.5

### Modulo or 'Mod" Operator

basically what it does is it returns the reminder after division

In [4]:
### If you type 
7/4

1.75

In [6]:
# in Mod operator whic is represented by % sign

7 % 4   # since when we divide 7 with 4 then the reminder will be 3

3

In [7]:
# lets check if the number is even or odd 
23 % 2

1

In [8]:
## So we can say the number 23 is odd since it leaves reminder 1, 
22%2

0

### the power operator   **
2

In [9]:
2 ** 3

8

### we can assign the variable and use it later in our code

In [10]:
a = 5

In [11]:
a

5

In [12]:
a = 10
a

10

In [13]:
a + a

20

In [15]:
 a +a * (20)

210

In [16]:
a = a+a

In [17]:
a

20

In [18]:
a

20

In [19]:
a = a+a 
a

40

In [20]:
a = a+a
a

80

In [21]:
###  since value of a is change as a+a

#### to know what type of function is a we can use built in type() function we get what type of function it is

In [22]:
type(a)

int

In [23]:
### lets reasign some float and check what type of function it is
a = 30.33
type(a)

float

In [24]:
### now lets see

price_of_mangoes = 60
gst_fruits = 0.5
total_price = price_of_mangoes + (price_of_mangoes * gst_fruits)

In [25]:
total_price

90.0

### Strings

#### strings are ordered sequences 
It means we can do indexing and slicing to grab sub-sections of the string
> indexing notation uses [] notation after the string (or variable assigned to the string)
 . indexing allows you to grab a single character from the string
 
 > we can use forward indexing and also negative indexing
 
##### Slicing : allows you to grab a subsection of multiple characters, a 'slice' of the string
> . This has the following syntax :
    > [start:stop:step]
    . Start is a numerical index for the slice start

In [26]:
'Sam'

'Sam'

In [27]:
" I'm a Data Scientist"

" I'm a Data Scientist"

#####  we are just asking the string to be returned so far. thats the reason we see quote '' marks in out put now lets print the string so that we dont see the quote marks

In [28]:
print('sam')

sam

In [29]:
print(" I'm a data scientist")

 I'm a data scientist

In [30]:
# if you dont use the print it returns only the last string of all the strings written for ex: 

' hello python '
' big python'  # see one one string is being returned below

' big python'

In [31]:
# other wise if you use print function we can get both the results
print('hello python')
print('big python')

hello python
big python

#### escape sequence in python by using \n - where python know to breake and print in the next line

In [32]:
print('hello \n python')

hello
 python

In [33]:
print('handsome \npython')

handsome
python

#### another poplular function is len()

In [34]:
len('hello maddy') ## note even the space is treated as charecter hence it give output as 11

11

### String indexing and String Slicing

In [35]:
mystring = 'Hello World'

In [36]:
mystring

'Hello World'

In [39]:
mystring[0] # string indexing

'H'

In [40]:
mystring[2]

'l'

In [43]:
# we know negative indexing is possible in python 
print(mystring[8])
print(mystring[-3]) # these two indexing should invariablly return same letter 'r' from the ' Hello World'

r
r

In [44]:
print(len(mystring))

11

###### lets do Slicing

In [45]:
mystring = 'abcdefghijklmnopqrstuvwxyz'

In [46]:
mystring[0:6]

'abcdef'

In [48]:
# lets grab 'def' from the string 
mystring[3:6]

'def'

In [49]:
mystring[6:9]

'ghi'

#####  in the above it includes 6 letter and grabs everything till 9 th leeter but not the 9th letter starting from 0

In [53]:
mystring[3:-8]

'defghijklmnopqr'

In [54]:
mystring[13:-8]

'nopqr'

##### Lets discuss step size

In [55]:
mystring[::]

'abcdefghijklmnopqrstuvwxyz'

In [56]:
mystring[::2]

'acegikmoqsuwy'

In [57]:
mystring[3::2]

'dfhjlnprtvxz'

In [58]:
mystring[3:-8:2]

'dfhjlnpr'

In [59]:
print(len(mystring[3:-8:2]))

8

### lets do a python tric to reverse the string

In [62]:
mystring

'abcdefghijklmnopqrstuvwxyz'

In [63]:
mystring[::-2]

'zxvtrpnljhfdb'

In [64]:
mystring[3:8:-1]

''

In [66]:
print(mystring[3:8:1])

defgh

In [67]:
s= 'tinker'
s[1:4]

'ink'

#### String Properties and Methods

In [68]:
## immutability of the strings
name = "vinay"
#  'str' objects does not support item assignment

### lets understand string concatination 
'string' objects does not supprot item assignemnt meaning we cannot for example in abve cell replace V in name wit somethin like 'P'
however what we can do is - we can concatinate string by doing like this

In [69]:
last_letters = name[1:]
last_letters

'inay'

In [70]:
# now Join with 'P'
"P" + last_letters

'Pinay'

In [71]:
x = 'python'

In [72]:
x + 'is a big snake and a computer language'

'pythonis a big snake and a computer language'

In [73]:
y= 'nambi narayanan'
movie = y+'rocketry'
movie

'nambi narayananrocketry'

In [74]:
movie

'nambi narayananrocketry'

In [75]:
y+ 'isro scientist'

'nambi narayananisro scientist'

In [77]:
y + ' movie made on him'

'nambi narayanan movie made on him'

In [80]:
R = y + y
R

'nambi narayanannambi narayanan'

In [82]:
R

'nambi narayanannambi narayanan'

### we can do multiple concatination

In [84]:
R * 5

'nambi narayanannambi narayanannambi narayanannambi narayanannambi narayanannambi narayanannambi narayanannambi narayanannambi narayanannambi narayanan'

In [85]:
R.isalpha()

False

In [86]:
R.upper()

'NAMBI NARAYANANNAMBI NARAYANAN'

In [87]:
R.lower()

'nambi narayanannambi narayanan'

In [88]:
R.split()

['nambi', 'narayanannambi', 'narayanan']

In [90]:
R.split('a')

['n', 'mbi n', 'r', 'y', 'n', 'nn', 'mbi n', 'r', 'y', 'n', 'n']

#### String formating for Print function

> There are multiple ways to formate strings for printing variable in them, os that you dont have to use + sign in them as we did above
this is know as string interpoliation 
> This is just a fancy way of saying stick a variable into a string
>  Lets explore two methods for this:
. format() method
f-string(fomated string literals)

### Formatting with the .formate() method
a good way to format objects into your strings for print statements is whith the string , format() method . the syntax is :

#### string here{} then also{}/ 'format('something1','something2')

In [92]:
print('this is a string {}'.format('Inserted'))

this is a string Inserted

In [93]:
print('The {} {} {} '.format('fox', 'brown', 'quick'))

The fox brown quick

In [94]:
### it would be better if the out put is momething gramatically correct saying - The quick brown fox
# we can give indexing in the above print like below

print('The {2} {1} {0} '.format('fox', 'brown', 'quick'))

The quick brown fox

In [95]:
'The {} {} {} '.format('fox', 'brown', 'quick')

'The fox brown quick '

In [96]:
'The {2} {1} {0} '.format('fox', 'brown', 'quick')

'The quick brown fox '

In [97]:
'The {2} {2} {2} '.format('fox', 'brown', 'quick')

'The quick quick quick '

In [98]:
# we can also use variable names to insert the keywords
print('The {c} {b} {f} '.format(f='fox', b='brown', c='quick'))

The quick brown fox

#### before finishing .format() method lets talk about Float Formatting . 
####  Float fomatting follows "{value:width.precision f}" 
basically it allows you to adjust width and precision of your lfloating point number

In [101]:
r = 100/777
r

0.1287001287001287

In [102]:
print("The resust was {}".format(r))

The resust was 0.1287001287001287

In [106]:
# now lets see how float formatting works
print("The result was {}".format(r))

The result was 0.1287001287001287

In [109]:
print("The result was {resul:1.3f}".format(resul=r))

The result was 0.129

#### basically what we did was to store the value of r in a variable and  number of decimals taken after (.) with passing 3f... 
####  and with width we are playing around what and howmany spaces there should be

In [113]:
print("The result was {resul:10.3f}".format(resul=r))

The result was      0.129

### lets understand f strings - fomating string literals introduced in python 3.6 kind of new to python

In [114]:
name = 'vinay'

In [116]:
# from the above case we can write the code as
print('Hello his name is {}'.format(name))

Hello his name is vinay

In [118]:
# now using the string literals we can say - directly pass the string by using f before ...
print(f'Hello his name is {name}')

Hello his name is vinay

In [121]:
# this works with multiple variables
name = "vinay"
age = "35"
designation = "software_architect"
print(f'{name} is {age} years old and he is working as {designation}')

vinay is 35 years old and he is working as software_architect

## Lists in python

#####  Lists are ordered sequences that can hols a variety of object types

They use [] brackets and commas to seperate objects in the list ex. [1,2,3,4]
lists support indexing and slicing . lists can be nested and also have a variety of useful methods that can be called off of them

In [123]:
my_list = [1,2,3]
#see thats a list - also python has no problem in handling different types of data types in lists
my_list2 = ['string',2, 2.6,89, 223.6]

In [128]:
# if you ever want to check the length of the list you can just use len function

len(my_list)

3

In [129]:
len(my_list2)

5

In [131]:
# List being ordered sequence of objects we can use indexing and slicing just like strings

my_list2[0] , my_list[1]

('string', 2)

In [132]:
print(my_list2[0] , my_list[1])

string 2

In [133]:
my_list2[0 :1]

['string']

In [134]:
# slicing and indexing in list works just like string and can also concatinate lists together - lets take another list
another_list = [87, 88, 59, 'Vinay', 'list']
my_list + another_list

[1, 2, 3, 87, 88, 59, 'Vinay', 'list']

In [135]:
# we can see orighnallist will stay as it is since we haven't saved it to another - 
my_list

[1, 2, 3]

In [136]:
another_list

[87, 88, 59, 'Vinay', 'list']

In [137]:
# indexing, slicing is simlar to the strings but what is difference is we can mutate the list for example :
new_list = another_list + my_list + my_list2

In [138]:
new_list

[87, 88, 59, 'Vinay', 'list', 1, 2, 3, 'string', 2, 2.6, 89, 223.6]

In [139]:
new_list[0] = "87 CHANGED"
print(new_list)

['87 CHANGED', 88, 59, 'Vinay', 'list', 1, 2, 3, 'string', 2, 2.6, 89, 223.6]

In [140]:
# thats the way u can change or mutate the list

In [141]:
# another common operation we can perform is add another element at the end of the list
new_list.append('last_name')

In [145]:
new_list

['87 CHANGED',
 88,
 59,
 'Vinay',
 'list',
 1,
 2,
 3,
 'string',
 2,
 2.6,
 89,
 223.6,
 'last_name']

In [147]:
# append is the method to add new item to the list that permanently changes our lkist to have a new element
print(new_list)

['87 CHANGED', 88, 59, 'Vinay', 'list', 1, 2, 3, 'string', 2, 2.6, 89, 223.6, 'last_name']

In [148]:
new_list.append('super_useful')

In [149]:
new_list

['87 CHANGED',
 88,
 59,
 'Vinay',
 'list',
 1,
 2,
 3,
 'string',
 2,
 2.6,
 89,
 223.6,
 'last_name',
 'super_useful']

In [150]:
# now lets talk about removing the item from the list - for this we use POP method- pop= is actually going to pop off the item
new_list.pop()

'super_useful'

In [153]:
# now when you check there nolonger hast the last element in the list
new_list

['87 CHANGED',
 88,
 59,
 'Vinay',
 'list',
 1,
 2,
 3,
 'string',
 2,
 2.6,
 89,
 223.6,
 'last_name']

In [154]:
# lets save the last item in the last item 
popped_item = new_list.pop()

In [155]:
popped_item

'last_name'

In [156]:
# we can pop the specific item from the list using the pop function
new_list.pop(0)

'87 CHANGED'

In [157]:
new_list

[88, 59, 'Vinay', 'list', 1, 2, 3, 'string', 2, 2.6, 89, 223.6]

In [163]:
new_list2 = ['a','c','b','f','t','y', 'u','d','e','z']
num_list3 = [4,1,8]

In [164]:
# we can also sort the list 
new_list2.sort()
# even while we call sort function with () it will not return anything its inplace function - meaning in background it has sorted the list

In [165]:
new_list2

['a', 'b', 'c', 'd', 'e', 'f', 't', 'u', 'y', 'z']

In [166]:
# when you use sort()function you can't assign it to new variable
# doing so will save that as NoneType => meaning we having nothing in that new assigned varible for example :
num_list3.sort()

In [167]:
num_list3

[1, 4, 8]

In [168]:
# lets assign and see 
newnum_list = num_list3.sort()

In [170]:
type(newnum_list)

NoneType

In [171]:
# this is the distinction we need to make while using the .sort() function => it sorts the list inplace

##### Reverse of the list

In [172]:
num_list3.reverse()

In [173]:
num_list3

[8, 4, 1]

## Dictionaries

Dictionaries are unordered mappings for sorting objects. Previously we saw how lists store objects in an ordered sequence , dictionaries use a key- value pairing instead.

This key-value pair allows users to quickly grab objects without needing to know an index location  Dictionaries use curly braces and colons to signify the keys and their associated values. 

{'key':'value','key2':'value2'}


so when to use a LIst and when to choose a dictionary

Well, 
##### Dictionaries :
Objects retrieved by key name
un ordered and cannot be sorted.

##### Lists: 
objects retrieved by location- ordered sequence can be indexed and sliced

In [174]:
my_dict = {'key':'value','key2':'value2'}

In [175]:
my_dict

{'key': 'value', 'key2': 'value2'}

In [176]:
# what if we want to get only the values - instead of using the locations we call by the keys
my_dict['key']

'value'

In [178]:
# see, a good example of using a dictionary is getting the prices of the store
my_prices = {'idly':50, 'oranges':35, 'dosa_pindi':65}

In [179]:
my_prices['dosa_pindi']

65

In [180]:
# point to note - dictionaries are super flexible on datatypes they can hold tey can hold list and other dictionaries as well
d= {'k1':123,'k2':[1,2,3], 'k3':{'insidekey':100}}

In [181]:
d['k2']

[1, 2, 3]

In [182]:
d['k3']

{'insidekey': 100}

In [183]:
d['k3']['insidekey']

100

In [185]:
d['k2'][1]

2

In [186]:
d['k2'][1:]

[2, 3]

In [188]:
# now let us grab a string form the list inside the dictionary and make it upper case

dic = {'k':[1,2,'string',3,'c']}

In [189]:
dic

{'k': [1, 2, 'string', 3, 'c']}

In [190]:
list11 = dic['k']

In [191]:
list11

[1, 2, 'string', 3, 'c']

In [192]:
strr = list11[2]

In [193]:
strr

'string'

In [194]:
strr.upper()

'STRING'

In [195]:
# however, we can do all these in one step because of the  flexibility offered in python

dic['k'][4].upper()

'C'

In [196]:
#  we can add new key-value pair to the dictionary its straight forward lets see how
d = {'k':100,'k2':200,'k3':300, 'k4':400}

In [197]:
d

{'k': 100, 'k2': 200, 'k3': 300, 'k4': 400}

In [198]:
# what if you wanted to add k5 : 500 
d['k5'] = 500

In [199]:
d

{'k': 100, 'k2': 200, 'k3': 300, 'k4': 400, 'k5': 500}

In [200]:
# we can also alter the existing keys to new value
d['k1'] = 'NEW Value'

In [201]:
d

{'k': 100, 'k2': 200, 'k3': 300, 'k4': 400, 'k5': 500, 'k1': 'NEW Value'}

In [202]:
d['k3'] = 8000

In [203]:
d

{'k': 100, 'k2': 200, 'k3': 8000, 'k4': 400, 'k5': 500, 'k1': 'NEW Value'}

In [204]:
# lets see few useful methods 
# if we want to see all the keys
d.keys()

dict_keys(['k', 'k2', 'k3', 'k4', 'k5', 'k1'])

In [205]:
d.values()

dict_values([100, 200, 8000, 400, 500, 'NEW Value'])

In [206]:
# if you want actual pairing 
d.items()

dict_items([('k', 100), ('k2', 200), ('k3', 8000), ('k4', 400), ('k5', 500), ('k1', 'NEW Value')])

In [207]:
print(d.items())

dict_items([('k', 100), ('k2', 200), ('k3', 8000), ('k4', 400), ('k5', 500), ('k1', 'NEW Value')])

### Tuples

Tuples are very similar to lists. However they have one key difference -    Immutability


Once an element is inside a tuple, it can not be reassigned

Tuples use paranthesis: (1,2,3,4,5)

In [208]:
t = (1,2,3,4,6)

In [209]:
my_list2

['string', 2, 2.6, 89, 223.6]

In [210]:
type(t)

tuple

In [211]:
type(my_list2)

list

In [212]:
len(t)

5

In [213]:
# just like a list we can have mixed elements or object typles in TUPLES
tu =(1,2,'or',6,'intuple')

In [214]:
tu

(1, 2, 'or', 6, 'intuple')

In [215]:
# just like list we can use slicing and indexing
tu[0]

1

In [216]:
tu[-1]

'intuple'

sofar very similar to list
###### there are also 2 basic inbuit method for tuple - i.e index method and count method

In [217]:
tup = ('a', 'a', 'a', 'b', 'b')

In [219]:
tup.count('a')

3

In [220]:
tup.index('b')

3

index shows when that object first appeared in the tuple - later on we shall see how use control flow logic like forloop 
grab all the index locations of the repeated elements

Lets check the tuple immutability of the list

tuple object doesnot support item assignment 

we ususlly use tuple in advance level where you see the requirement that you accidentally dont change the tuple


Thats when tuple becomes a great solution - in tuple you cannot change the elements - thats where tuple provides data integrity

## SETS in Python

Sets are unordered collections of unique elements -

meaning there can only be one representative of the same object

lets see some examples

In [221]:
myset = set()
myset

set()

In [222]:
myset.add(1)

In [223]:
myset

{1}

In [224]:
myset.add(2)

In [225]:
myset

{1, 2}

In [226]:
myset.add(2)

In [228]:
myset

{1, 2}

######  see in the above two cells though 2 is added 2 times its only ingested once - sets are collection of unique elements and 
though its showing in flower brackets its not dictionaries since there is no key value pair...

While working with sets it may not be super useful to add unique values one at a time but it would be better if we add a list without repetition

In [229]:
mylist = [1,1,1,1,1,1,1,2,2,2,2,3,3,3,3,3]

In [230]:
set(mylist)

{1, 2, 3}

In [231]:
# kindly note: though sets seems they have ordered the list but they dont have any particular order

mylist22 = [1,2,2,2,2,4,4,4,8,6,6,7,3,5,9,9,9,9]

In [232]:
set(mylist22)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [233]:
mylist223 =  [1,2,2,2,2,4,4,4,8,6,6,7,3,5,9,9,9,9,2,5,10,14,10,25,36,36,'sai','sai','vinay']

In [234]:
set(mylist223)

{1, 10, 14, 2, 25, 3, 36, 4, 5, 6, 7, 8, 9, 'sai', 'vinay'}

#### Booleans:
Booleans are operators that allow you to convey True or False statements

These are very important later on when we deal with control flow and logic!

In [235]:
type(False)

bool

In [236]:
1 ==1.1

False

In [237]:
1 == 1

True

None keywoard is used as placeholder

In [239]:
b = None

In [240]:
b

In [241]:
set([1,1,2,3])

{1, 2, 3}

In [243]:
set([1,2,2,2,3,5,4,4,6,8,8,9,41])

{1, 2, 3, 4, 5, 6, 8, 9, 41}

#### I/O with Basic Files in Python

Before we finish this section, lets quickly go over how to perform simple I/O with basic.txt files 

we'll also discuss file paths on your computer lets get started!

In [253]:
pwd

'C:\\Users\\sai vinay sunkara'

#### myfile = open('')
####  myfile.read()    # Reads the complete .txt file
####  myfile.seek(0)  
 > after you do the read the cursor will be at the end of the text file when you read again it will give empty string
                    that need to be bought to the begining to
                    
#### myfile.readlines()

#### how to open the file locations

if you want to open files at another location on your comoputer , simply pass in the entire file path

for windows you need to use double\ so python doesn't treat the second \ as an escape character, a file path is in the form

####  Resources for More Basic Practice


Basic Practice:

http://codingbat.com/python

More Mathematical (and Harder) Practice:

https://projecteuler.net/archives

List of Practice Problems:

http://www.codeabbey.com/index/task_list

A SubReddit Devoted to Daily Practice Problems:

https://www.reddit.com/r/dailyprogrammer

A very tricky website with very few hints and touch problems (Not for beginners but still interesting)

http://www.pythonchallenge.com/

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

### Comparision operators in Python

In [256]:
2 == 2

True

In [257]:
2 > 1

True

In [259]:
36 != 63

True

In [260]:
36 >= 63

False

In [261]:
36 <= 63

True

In [263]:
'Hello' == 'bye'

False

In [264]:
'Bye' == 'bye'

False

In [265]:
'Bye' == 'Bye'

True

In [266]:
# python also considers data types

'2' == 2

False

In [267]:
# floating points as long as it holds the same value its True

2.0 == 2

True

In [268]:
3 != 2

True

In [269]:
3 != 3

False

####  LOGICAL OPERATORS
> When doing multiple compariotns we do what is called as Logical Operators!

###### Chaining comparison operators in python with logical operators
> we use logical operators to combine comparisions: <br>
    . And <br>
    . or  <br>
    . not

In [270]:
'h' == 'h'  and 2 == 2

True

In [271]:
'h' == 'b'  and 2 == 2  # both of statements should be right

False

In [272]:
# for 'or' one of the satement should be true

1 == 1 or 2 == 3

True

######  Not  will return just the opposite of that particular result

In [273]:
not 1 == 1

False

In [274]:
400 > 5000

False

In [275]:
not  400 > 5000

True

### IF  ,  Elif and else statements

> Control Flow syntax makes use of colons and indentation (whitespace). <br>
> This indentation system is crucial to python and is what sets it apart from other programming languages <br>

syntax of an if statement <br>
       if some_condition: <br>
          # execute some code

In [276]:
if True:
    print('Its True!')

Its True!

In [282]:
hungry = True

if hungry:
    print('feed me!')
else:
    print('No thanks')

feed me!

In [283]:
hungry = False

if hungry:
    print('feed me!')
else:
    print('No thanks')

No thanks

In [286]:
loc = 'supermarket'

if loc == 'Auto shop':
    print('cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'store':
    print('welcome to the store!')
elif loc == 'supermarket':
    print('Prices are high')
else:
    print('I dont know much.')

Prices are high

### For Loops

Many objects in Python are 'iterable', meaning we can iterate over every element in the object. <br>
such as every element in a list of every character in a string.

we can use for loops to execute a block of code for every iteration

The term "Iterable" means you can 'iterate' over the object.

for example you can iterate over every character in a string, iterate over every item in a list, iterate over every key in a dictionary

item in a list <br>
every key in a dictionary  <br>

##### Syntax For Loop

my_list = [1,2,3] <br>
for item_inList in my_list:<br>
----print(item-inList)<br>
    
>>1 <br>
>>2 <br>
>>3 <br>

In [287]:
mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

# now we shall create a for loop to retrieve elements one after the other

In [288]:
for item_list in mylist:
    print(item_list)
    
# item_list is what you choose

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [289]:
for num in mylist:
    print('jolly')

jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly
jolly

##### you chose the variable name that is somehow related to the object in the variable
#####  in the above cells its 'num' and 'item_list'

In [293]:
for num in mylist:
    # Check for even
    if num%2 == 0:
        print(f'Even Number: {num}')
    else:
        print(f'Odd number: {num}')

Odd number: 1
Even Number: 2
Odd number: 3
Even Number: 4
Odd number: 5
Even Number: 6
Odd number: 7
Even Number: 8
Odd number: 9
Even Number: 10
Odd number: 11
Even Number: 12
Odd number: 13
Even Number: 14
Odd number: 15
Even Number: 16
Odd number: 17
Even Number: 18
Odd number: 19
Even Number: 20

In [294]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

210

In [ ]:
mystring = 'hell'