In [1]:
mystring = 'Hello world!'

for letters in mystring: 
    print(letters)

H
e
l
l
o

w
o
r
l
d
!

In [2]:
# Technically you need not assign the string to a variable you can directly take the string in for loop itself

for letters in 'HELLOWORLD!!':
    print(letters)
# you can call this variable -- 'letters' --  anything you want as logn as its same thing

H
E
L
L
O
W
O
R
L
D
!
!

###### as people get advanced in python sometimes they don't even assign a variable for instance you want to print 'mad' as many times as the characters in the string - instead of variable people assign '_' as the variable

In [3]:
for _ in 'Hello World!':
    print('MAD')

MAD
MAD
MAD
MAD
MAD
MAD
MAD
MAD
MAD
MAD
MAD
MAD

In [4]:
# Thats iteration for list and string, same thing can be done for 'Tuple'
tup = (1,2,3,4,5,6)

for elements in tup:
    print(elements)

1
2
3
4
5
6

now, lets see tuple unpacking
tuple have a littile bit of special quality when it comes to forloops - if you are iterating through a self containg tuples - the item can be used with tuples unpacking - lets see what i mean by that

In [5]:
# let me take a list having tuples

mylist = [(1,2),(3,4),(5,6),(7,8)]

In [6]:
len(mylist)

4

In [7]:
# mylist is a list of 4 tuple pair, lets printout items in mylist
for items in mylist:
    print(items)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

 this type of datastructure is extremely common in python, later on we are going to see lot of built in functions in python will take advantage of this built in structure and returnback tuple inside of a list - we can printout every item in the tuple for that what i can do the following

In [8]:
for (a,b) in mylist:
    print(a)
    print(b)
# lets see what happens here - we are duplicating the structure of items  in this case tuples inside of the sequence <br>
# and unpack them now i have access to the individual items

1
2
3
4
5
6
7
8

In [10]:
# now you have access to the items in tuple you can print only the first character
# technically you dont even need brackets for a,b
for a,b in mylist:
    print(a)

1
3
5
7

In [11]:
# lets try onemore time
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(c)

3
6
9

In [12]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(c ,b)

3 2
6 5
9 8

In [13]:
# lets see how to use forloop in dictionary

In [14]:
d = {'k1':1, 'k2':2,'k3':3,'k4':4}
for items in d:
    print(items)

k1
k2
k3
k4

This is some kind of interesting using forloop in dictionary you only iterate through dictionaries
k1, k2, k3, k4 <br>
if you actually want to iterate through the items themselves <br>
what you actually what to do is you use dictionary name.items

In [21]:
d = {'k1':1, 'k2':2,'k3':3,'k4':4}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)
('k4', 4)

In [22]:
# we can use item unpacking jus like we used in tuples above
for key,value in d.items():
    print(value)

1
2
3
4

### While loops in Python

while loops will contineue to execute a block of code While some condition remains True.

for ex: while my pool is not full, keep filling my pool with water. 

or while my dogs are still hungry, keep feeing my dogs

##### Syntax
while some_boolean_condition:
    <br> Do something
###### We can aslo with else statement

while some_boolean_condition: <br>
     > > do something <br>
    else:<br>
    > > do something different

In [24]:
x = 0 
while x < 5:
    print(f'the current value of x is {x}')
    x = x+1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [25]:
# we can also writ 
x += 1

In [26]:
x = 0 
while x < 5:
    print(f'the current value of x is {x}')
    x +=1
else:
    print(f'x is not less than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5

##### Now, lets get introduced to 3 new Keywords

### break, continue , pass

we can break, continue and pass statements in our loops to add additional functionality for various cases. the three statements are defined by:

###### break : Breaks out of the current closet enclosing loop
###### Continue: goes to the top of the closet enclosing loop
###### pass: Does nothing at all.

In [31]:
mylist = [1,2,3]
for item in mylist:
    #comment - at this point we are not sure what we want to do here but when we execute it gives error

IndentationError: expected an indented block (1778777015.py, line 3)

In [32]:
# instead we can say 
mylist = [1,2,3]

for item in mylist:
    pass


# this literally means do nothing at all but acts as a filler
print('end of script')

end of script

In [33]:
# Continue : goes to the top of the closes enclosing loop

mystring = 'samantha'

for letter in mystring:
    print(letter)

s
a
m
a
n
t
h
a

In [37]:
# for some reason you dont want to print the letter 'a', the I can do the following

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

s
m
n
t
h

###### in the above cell when the letter == a, it continues back to the above for loop when its not equal to a - it prints the letter

In [38]:
# lets see what happens if we use break in the above code
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

s

###### so, what ahappend in above cell is that when you use break as soon as it encountered 'a' it kind of comes out and prints letter and breaks out of the loop

In [39]:
# lets see break in action

x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [40]:
# if i have to break this loop when its x = 2
x = 0

while x < 5:
    if x == 2:
        break    
    print(x)
    x += 1

0
1

In [44]:
r = 10000000000000000/77
print("The result was {resul:1000.3f}".format(resul=r))

The result was                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      129870129870129.875

##### Useful operators in Python

##### Range function in Python

In [45]:
# sofar what we are doing is typically we are doing somthing like taking a list and iterating through it

like = [1,2,3,'list']

In [46]:
# we can also use 
# hit shift-tab after range and see what it can take as parameters

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [59]:

for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [60]:
# we can add 3rd argument that is step size
for num in range(3,10,2):
    print(num)

3
5
7
9

In [62]:
# when i put the just range in  - it gives back the list because its a generator
range(3,10,2)

range(3, 10, 2)

In [63]:
# Thats because range is a generator - if you want it in list cast range in list
list( range(3,10,2))

[3, 5, 7, 9]

###### lets see another useful function called 
### Enumerate

In [66]:
## sometime you want to know howmany times you have gone through a forloop - for example :

index_count = 0

for letter in 'abcde':
    print('at index  {} the letter is {}'.format(index_count,letter))
    index_count += 1

at index  0 the letter is a
at index  1 the letter is b
at index  2 the letter is c
at index  3 the letter is d
at index  4 the letter is e

In [68]:
index_count = 0
word = 'abcde'
for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

well, what is happening in the above - we are doing the following - <br>

we have an index_count starting at '0' 
we have a word 'abcde' 

for every character in that word at index value location we print the letters of the word - inorder to do that we want some sort of index_count

because this sort of operation is common in python - python did was building and enumurate function

In [69]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

what basically its doing is printing the index and the letter from the word in a tuples - 

we have learnt tuple unpacking from forloop what we can do is...

In [73]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

#### Now lets see -zip-  function which is opposite of enumerate

what it does is it zips together 2 lists

In [74]:
mylist1 = [1,2,3,4,5,6,7,8,9]
mylist2 = ['a','b','c','d','f','g','h','i','j']

In [75]:
zip(mylist1,mylist2)

In [76]:
# when you use zip directly it gives saying zip is waiting
# for that what we have to do is reiterate in for loop

for items in zip(mylist1,mylist2):
    print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')

In [79]:
# again it gave us the result in tuples - use tuple unpacking
# tuples unpacking is usefulthing thing because lot of functions in python return tuples
for index,string in zip(mylist1,mylist2):
    print(index)
    print(string)
    print('\n')

1
a


2
b


3
c


4
d


5
f


6
g


7
h


8
i


9
j

you can add any number of lists in zip.. and another interesting question what if the list were un even - simple - the zip will take the lowest number of elements and ingnores the other items - it wont give any error but, just ignores the rest of the elements

In [80]:
list(zip(mylist,mylist1,mylist2))

[(1, 1, 'a'), (2, 2, 'b'), (3, 3, 'c')]

###  In operator

In [81]:
'x' in [1,2,3]

False

In [83]:
'x' in ['x','y','z']

True

In [84]:
# this in operator also works on a string

'a' in  ' world is not a flat place'

True

In [88]:
d = {'k1': 'world', 'k2' : 'sam'}

'sam' in d.values()

True

##### min and max

In [89]:
min(mylist1)

1

In [90]:
max(mylist1)

9

#### importing a library and random library

In [91]:
from random import shuffle

In [92]:
mylist1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
shuffle(mylist1)

In [94]:
mylist1

[3, 4, 6, 7, 8, 1, 2, 9, 5]

### List comprehension in Python

List comprehensions are a unique way of quickly creating a list with Python 

if you find yourself using a for loop along with .append() to create a list, List comprehension are a good alternative!

In [95]:
mystring = 'hello'

In [96]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [97]:
mylist

['h', 'e', 'l', 'l', 'o']

In [98]:
# method 2 to do it in single line of code
# this code is to shorten the for loop
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [99]:
mylist = [x for x in 'word']

In [100]:
mylist

['w', 'o', 'r', 'd']

In [101]:
mylist5 = [x for x in range(0,11)]

In [102]:
mylist5

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
# not that we can also perform some operations in that list comprehension as well
mylist6 = [ num**2 for num in range (0,21)]

In [104]:
mylist6

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [105]:
# we can also add if satatement into this- what we want to apppend even numbers

mylist7 = [x for x in range(0,11) if x%2 == 0]
mylist7

[0, 2, 4, 6, 8, 10]

In [106]:
mylist8 = [x**2 for x in range(0,11) if x%2 == 0]
mylist8

[0, 4, 16, 36, 64, 100]

In [108]:
celcius = [0,10,20,30.4,36.6]

fahrenheit = [((9/5)*temp + 32 ) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 86.72, 97.88000000000001]

In [116]:
celcius = float(input('what is the temp in celcius: '))
fahrenheit = [((9/5)*celcius + 32 )]
print(fahrenheit)

what is the temp in celcius: 32
[89.6]

In [119]:
# we can also do nested loop in List comprehensions
mylist9 = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist9.append(x*y)
mylist9

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [121]:
# now lets do this in list comprehension

mylist10 = [x*y for x in [2,4,6] for y in [1,10,100] ]
mylist10

[2, 20, 200, 4, 40, 400, 6, 60, 600]

df